@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main-font {
  font-family: "Playfair Display";
}

.secondary-font {
  font-family: "Montserrat";
}

.splash-page {
  background: url("src/assets/splash-bg.png") center no-repeat fixed;
  background-size: cover; /* Ensure the image covers the entire background area */
  background-position: center left; /* Center the background image */
  height: 100vh;
  margin: 0 auto;
  position: relative;
  width: 100%;
  z-index: 3;
}

.splash-page::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px; /* Adjust the height of the vignette as needed */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.9) 100%
  );
}

.splash-page__text {
  font-style: normal;
  font-weight: 800;

  color: #586716;

  text-shadow: 0px 4px 4px rgba(81, 88, 14, 0.25);
}

.shop-button {
  position: relative;
  border: 2px solid #906246; /* Border color */
  background-color: transparent; /* Transparent background */
  color: #906246; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer; /* Change cursor to pointer on hover */
  overflow: hidden;
}

.shop-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(to right, #d7a789, #906246);
  transition: width 0.3s ease;
  z-index: -1;
}

.shop-button:hover span {
  position: relative;
  color: white;
  z-index: 1;
}

.shop-button span {
  /* SHOP */

  font-style: normal;
  font-weight: 800;
  /* identical to box height */
}

.shop-button:hover::before {
  width: 100%;
}

.category {
  border: 1.2px solid black;
  border-radius: 16px;
  transition: all 0.2s ease;
}

.category:hover {
  color: white;
  background-color: #19c463;
  border: 1px solid #19c463;
}

.category--selected {
  color: white;
  background-color: #19c463;
  border: 1px solid #19c463;
}
